<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- Created by htmlize-1.47 in css mode. -->
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <span class="home"><a href="/">Home</a></span>
    <span class="page-history"><a href="https://github.com/joranvar/joranvar.github.io/commits/master/{{ page.path }}">View page history</a></span>
    {{ content }}
  </body>
</html>
